<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
            <a type = "button" class= "btn btn-primary btn-lg" href="/">Home</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/addparcel">Add a New Parcel</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/listparcel">List all parcels</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/listparcelbySender">List parcels by Sender</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/listparcelbyWeightRange">List parcels by weight</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/deletebySender">Delete by Sender</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/deletebyId">Delete by Id</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/delete">Delete by Weight or Address or Fragile</a>
            <div class="btn-group-vertical">
            <a type = "button" class= "btn btn-primary btn-lg" href="/deletebyWeight">Delete Parcel by weight</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/deletebyAdd">Delete Parcel by Address</a>
            <a type = "button" class= "btn btn-primary btn-lg" href="/deletebyfragile">Delete by Fragile</a>
            </div>
    </body>
</html>