<html>
    <a href="/" > HOME</a>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <form  method = "post" action = "deleted">
            <h2>Delete by Sender or Id:</h2></br>
            Sender <input type = "text"  name = "sender" /> </br>
            Id <input type = "text" name = "id" /> </br>
            <button type ="submit"> Submit Parcel </button></br>
            <h2>Delete by Sender & Address:</h2></br>
            Sender <input type = "text"  name = "sender" /> </br>
            Address <input type ="text" name = "add" /> </br>
            <button type ="submit"> Submit Parcel </button></br>
            <h2>Delete by Sender & Weight:</h2> </br>
            Sender <input type = "text"  name = "sender" /> </br>
            Weight <input type = "number" name = "weight" /> </br>
            <button type ="submit"> Submit Parcel </button>
            </br>
        </form> 
        <a href="/addparcel" > Add a New Parcel</a>
        </br>
        <a href="/listparcel" > List Parcels</a>  
        </br>
        <a href="/updateparcel" > Update Parcels</a>
        </br>
        <a href="/deleteParcel" > Delete Parcel</a>
 
            

    </body>
</html>