<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <a type = "button" class= "btn btn-primary btn-lg" href="/">Home</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/addparcel">Add a New Parcel</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/listparcel">List all parcels</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/listparcelbySender">List parcels by Sender</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/listparcelbyWeightRange">List parcels by weight</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/deletebySender">Delete by Sender</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/deletebyId">Delete by Id</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/delete">Delete by Weight or Address or Fragile</a>
    </body>
    <body>
        <h3> The list of parcels:</h3>
            <table class= "table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope= "col"> Sender</th>
                        <th scope = "col"> Address</th>
                        <th scope = "col">Weight </th>
                        <th scope = "col">Fragile </th>
                        <th scope = "col"> Cost </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i =0; i<parcelDb.length; i++){ %>
                        <tr> 
                            <td> <%= parcelDb[i].sender %></td>
                            <td> <%= parcelDb[i].address %></td>
                            <td> <%= parcelDb[i].weight %></td>
                            <td> <%= parcelDb[i].fragile %></td>
                            <td> <%= parcelDb[i].cost %> </td>
                        </tr>
                        <% }%>
                </tbody>
            </table>
    </body>
</html>