<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <a type = "button" class= "btn btn-primary btn-lg" href="/">Home</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/addparcel">Add a New Parcel</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/listparcel">List all parcels</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/listparcelbySender">List parcels by Sender</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/listparcelbyWeightRange">List parcels by weight</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/deletebySender">Delete by Sender</a>
        <a type = "button" class= "btn btn-primary btn-lg" href="/deletebyId">Delete by Id</a>
        <form method= "post" action = "weightRange" >
            <h2>Enter weight range to list parcels by weight:</h2></br>
            Minimum Weight <input type = "number" name = "min" /> </br>
            Maximum Weight <input type = "number" name = "max" /> </br>
            <button type ="submit"> Submit Parcel </button></br>
            </br>
    </body>
    
</html>