<html>
    <a href="/" > HOME</a>
    <link rel="stylesheet" href="styles.css">
    <body>
        <form method = "post" action = "updated">
            Id <input type = "text" name = "id" /> </br>
            Sender <input type = "text" name = "sender"/> </br>
            Weight <input type = "number" name = "weight" /></br>
            Address <input type = "text" name = "add" /> </br>
            Cost <input type = "number" name = "cost" /> </br>
            Fragile <select name = "fragile" >
                <option value = "yes"> Yes</option>
                <option value = "no"> No </option>
            </select>
            </br>
            <button type ="submit"> Submit Parcel </button>
        </form>
        <a href="/addparcel" > Add a New Parcel</a>
    </br>
    <a href="/listparcel" > List Parcels</a>  
    </br>
    <a href="/updateparcel" > Update Parcels</a> </br>
    <a href="/deleteParcel" > Delete Parcel</a>
    </body>
</html>